* {
    box-sizing: border-box;
}

body {
    font-weight: bold;
    color: darkgreen
}

a {
    font-weight: bold;
}

a.hover {
    color: lightcoral;
}

button {
    font-weight: bold;
}

.card {
    background-color: rgb(169, 207, 147);
    margin: 5px;
}
